@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;

  scroll-behavior: smooth;
    background: #100f0f;
}

a {
  color: unset;
  text-decoration: none;
}
.brand h1{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand h2{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.brand1{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.brand2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand h1{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand h2{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.brand1{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.brand2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gpt3__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  margin: 1rem;
}

.gpt3__features-container__feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.gpt3__features-container__feature-title h1 {
  font-family:'Manrope', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
}

.gpt3__features-container__feature-title div {
  width: 38px;
  height: 3px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3__features-container_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}


.gpt3__features-container_feature-text p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-title h1 {
      font-size: 14px;
      line-height: 22px;
  }

  .gpt3__features-container_feature-text p {
      font-size: 12px;
      line-height: 20px;
  }

  .gpt3__features-container__feature {
      margin: 1rem 0;
  }
  
}
.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #100f0f;
 
  padding: 1rem;
  /* padding: 2rem 6rem; */

}
.gpt3__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
}


.gpt3__navbar-links_logo  {
  position: fixed !important;
  z-index: 1;
  
  top: 2;
  

}

.gpt3__navbar-links_logo a {
  width: 50px;
  height: 50px;
  border-radius: 25px !important;
  margin: 1rem;
}

.gpt3__navbar-links_container {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}

.gpt3__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links{
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  /* display: inline-block; */
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
}
.gpt3__navbar-links_container a,
.gpt3__navbar-sign a,
.gpt3__navbar-menu_container a {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  /* display: inline-block; */
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
}
a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #c00404;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.15s;
  position: relative;
  margin-left: 0.5rem;
}
button:hover{
  opacity: 0.8;

}
.LoginPage{
  position: absolute;
  top: 10;
  margin: 1rem;
  height: fit-content;
   margin-top: 1rem ;

}

.gpt3__navbar-menu {
  margin-left: 0.5rem;

  display: none;
  position: relative;
}

.gpt3__navbar-menu svg {
  cursor: pointer;
}

.gpt3__navbar-menu_container {
  display: flex;
  z-index: 1;
  position: absolute !important;
  top:50px;
  right:0px;
  align-items: flex-start;
  flex-direction: column;
  justify-content:space-between ;
  text-align:start;
  background: black;
  padding: 0.5rem;
 
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.gpt3__navbar-menu_container p {
  margin: 1rem 0;
}


.gpt3__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .gpt3__navbar-links_container {
      display: none;
  }

  .gpt3__navbar-menu {
      display: flex;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__navbar {
      padding: 1rem 2rem;
      height: 50px;
  }
  .gpt3__navbar-links_logo img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
   }
   .links{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    /* display: inline-block; */
    position: relative;
    margin: 1rem;
    cursor: pointer;
  }
  
    
}

@media screen and (max-width: 550px) {
  .gpt3__navbar {
      padding: 1rem;
      height: 50px;
  }

  .gpt3__navbar-sign {
      display: none;
  }

  .gpt3__navbar-menu_container {
      top: 20px;
  }

  .gpt3__navbar-menu_container-links-sign {
      display: block;
  }
  .gpt3__navbar-links_logo img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
   }
   .Pagehead {
    /* margin-top: 50%; */
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    z-index: 1;
    position: absolute !important;
    top:-600px !important;
    right:-250px !important;
    width: 300px;
  }

  .trials {
    display: flex;
    margin-top: 70%;
    height: 100%;
    margin-bottom: 20%;
    width: 100px;
    flex-direction: column;
    align-items:center;
    font-size: 20px;
    border-radius: 100px;
    font-family: var(--font-family);
    justify-content:flex-start;
    background-color: white;
    }
}
.slider {
  position: relative;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:1.5rem;
  
}

.image {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  margin: 1.5rem;
}
.card{
  height: 450px;
  width: 400px;
  border-radius: 50px;
  
  background: #100f0f;
  box-shadow: inset 5px -5px 10px #070707,
              inset -5px 5px 10px #191717;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
.title{
  margin-bottom: 4rem;
  color: white;
  font-family: var(--font-family);
}
.cardContent{
  color: white;
  font-family: var(--font-family);
  margin: 1rem;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color:white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 990px) {
  .gpt3__blog-container {
      flex-direction: column-reverse;
  }


  .gpt3__blog-container_groupA {
      margin: 2rem 0;
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article  {
     width: 48%;
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article-image {
      height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .card{
      height: 250px;
      width: 200px;
      border-radius: 20px;
      
      background: #100f0f;
      box-shadow: inset 5px -5px 10px #070707,
                  inset -5px 5px 10px #191717;
      display: flex;
      flex-direction: column;
      
      align-items: center;
    }
    .image {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: 1rem;
    }
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 2rem;
      color:white;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    
    .left-arrow {
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 2rem;
      color: white;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }
  .title{
    margin-bottom: 4rem;
    color: white;
    font-family: var(--font-family);
    font-size: 15px;
  }
  .cardContent{
    color: white;
    font-family: var(--font-family);
    margin: 1rem;
    font-size: 12px;
  }
  .card{
    height: 250px;
    width: 200px;
    border-radius: 20px;
    
    background: #100f0f;
    box-shadow: inset 5px -5px 10px #070707,
                inset -5px 5px 10px #191717;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
}
.gpt3__features {
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
.ourFeatures a{
color:white;
}
.containsAll{
  border-radius: 35px;
background: #100f0f;
box-shadow: inset 5px -5px 10px #070707,
          inset -5px 5px 10px #191717;
          display: flex;
          flex-direction: column;
          flex:1;
          padding:0.5rem;
          
}

.heading1{
 
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  line-height: 45px;
  font-weight: 800;
  align-items: center;
  font-family: var(--font-family);
  border-radius: 35px;
  background: #100f0f;
  box-shadow:  5px -5px 10px #070707,
               -5px 5px 10px #191717;
}
.heading2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
.drop{
  /* margin-bottom: 1vw; */

 
 
  padding: 1rem;
 
}

.gpt3__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin: 2rem;
  padding: 0.5rem;
  text-align: left;
  margin-right: 5rem;
  border-radius: 35px;
  background: #100f0f;
  box-shadow:  5px -5px 10px #070707,
               -5px 5px 10px #191717;
               
}


.gpt3__features-heading h1 {
  font-size: 20px;
  line-height: 45px;
  font-weight: 800;
  
  font-family: var(--font-family);
}


.gpt3__features-heading p {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-family);

  text-align:justify;
  padding: 0.2rem;

 
}


.gpt3__features-container {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


@media screen and (max-width: 990px) {
  .gpt3__features {
      flex-direction: column;
  }

  .gpt3__features-heading {
      margin: 0 0 0.5rem 0;
  }
  .heading1{
      font-size: 8px;
  }
}


@media screen and (max-width: 550px) {
  .gpt3__features-heading h1 {
      font-size: 12px;
      line-height: 38px;
  }
  .drop p{
      font-size: 12px;
  }
 
 
}
.containerss img{
  width:499px ;
}
.containerss{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info{
  display: flex;
  flex-direction: column;
  
}
.info p{
  color: white;
  font-family: var(--font-family);
}
@media screen and (max-width: 650px) {
  .containerss img{
      width:200px ;
  }
  
}
.gpt3__header {
  display: flex;
  flex-direction: row;
  
}

.gpt3__header-content {
 
 width: 100%;
 height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  object-fit:contain;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.gpt3__header-content > div{
  position: absolute !important;
}
.Mountains{
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
 
  
}
p{
  word-spacing: 5px;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}



.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
      flex-direction: column;
  }

  .gpt3__header-content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header-content h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .gpt3__header-content p {
      font-size: 16px;
      line-height: 24px;
  }
  
  .gpt3__header-content__people {
      flex-direction: column;
  }

  .gpt3__header-content__people p {
      margin: 0;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
      font-size: 16px;
      line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .gpt3__header-content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .gpt3__header-content p {
      font-size: 14px;
      line-height: 24px;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
      font-size: 12px;
      line-height: 16px;
  }
}
.shop{
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.shop a{
  color: #c00404;
  font-weight: 800;
  font-size: 20px;
}
.Containers1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  
}
.Containers1 p{
  margin-top:20px;
  padding: 1rem;
 
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
  font-size: 20px;
  line-height: 45px;
  font-weight: 800;
  align-items: center;
  
}
.shopers{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0%;

}
.shopers p{
  color: black;
}
.Scontainer img{
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.option{
  flex: 1;
  display: flex;
  flex-direction: row;
 width: 100%;
justify-content: center;
  align-items:center;
  margin: 20px;
 
}
.newslinks{
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
.newslinks1{
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.newslinks2{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.option >ul{
  list-style: none;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  padding: 0.5rem;
  font-family: var(--font-family);
  font-size: 5px;
 
  color: #c00404;
  transition: 0.5s;
}
.option a{
  color: #c00404;
}
.option>ul:hover,
.option>ul:focus{
  animation: option 1s;
  box-shadow: 0 0 0 2em transparent;

}
@keyframes option {
  0% { box-shadow: 0 0 0 0 #c00404; }
}
.Scontainer {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  padding: 0.5rem;
  
  align-items:center;
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.Scontainer h2{
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 45px;
  font-weight: 800;
}
.heading{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  
  
}
.heading h1{
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}
@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .Scontainer h2{
      font-family: var(--font-family);
      font-size: 15px;
      line-height: 30px;
      font-weight: 800;
  }
  .Containers1 p{
      margin-top: 0.5rem;
      padding: 0.2rem;
      border-radius: 50px;
      background: #ffffff;
      box-shadow:  5px 5px 10px #d9d9d9,
                   -5px -5px 10px #ffffff;
      font-family: var(--font-family);
      font-size: 15px;
      line-height: 30px;
      font-weight: 800;
      text-align:center ;
      
  }
  .Containers1 a{
          padding: 1rem;
          
  }
  .Containers1{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    margin-left:0;
      align-items: center;
      margin-top: 1rem;
      background-color: white;
      border-radius: 10px;
      padding: 0.5rem;
      
  }
  .shopers {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    font-size: 15px;
    width: 70%;
  }
  .heading{
      display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  }
  .trials{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .newslinks{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
  
  }
  .option>ul{
    font-size: 0px;

  }
  .option a{
    font-size: 15px;
  }
  .option{
    margin:0.5rem;
  }
  .newslinks1{
    margin-top: 4.5rem;
  }
  .shop a{
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  
}
.gpt3__whatgpt3 {
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
  background: #100f0f;

  
}
.styling{
  padding:1rem;
  border-radius: 35px;
  background: #100f0f;
  box-shadow: inset 5px -5px 10px #070707,
              inset -5px 5px 10px #191717;
              color: #fff;
}

.gpt3__whatgpt3-feature {
  display: flex;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  margin: 0;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
  max-width: 700px;
}

.gpt3__whatgpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 4rem 0 2rem;
}

.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.gpt3__whatgpt3-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.container1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  
}
.container1 h1{
  font-family: var(--font-family);
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  color: black;
  cursor: pointer;
}
.owner{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  
  
}
.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}
.container{
  flex-direction: column;
}
.waves{
  display: flex;
  flex:1;
  width: 100%;
  position: unset;
  
  
}
.pic{
  object-fit: contain;
  width: 100% ;
  position: relative;
  height: unset;
}
.CCTV{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  font-family: var(--font-family);
transition: 0.5s;
border-color: #ffffff;
border-radius: 50px;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
             color: black;
    width: 236.71px;
}
.CCTV:hover,
.CCTV:Focus {
  animation: CCTV 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes CCTV {
    0% { box-shadow: 0 0 0 0 black; }
  }


.CCTV img{
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container_feature-text {
  margin-top: 0.5rem;
}


@media screen and (max-width: 850px) {
  .gpt3__whatgpt3-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }

  .gpt3__whatgpt3-heading p {
      margin-top: 1rem;
  }
  .owner{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      background-color: white;
      border-radius: 10px;
      
      
  }
  .CCTV p{
    font-size: 0.8rem;
  }
  .CCTV{
    width: 202.78px;
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container__feature {
      flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
      margin-top: 0.5rem;
  }

  .gpt3__whatgpt3-heading h1 {
      font-size: 28px;
      line-height: 40px;
  }
  .owner{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      background-color: white;
      border-radius: 10px;
      
      
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
      margin: 1rem 0;
      min-width: 100%;
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}

@keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #100f0f;
  }
}

h2{
  font-family: var(--font-family);
  
}
.mt-5{
  background-color: white;
}
.mb-3{
  margin: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.containers2{
  display: flex;
  flex-direction: row;
  align-items:baseline;
  justify-content:center;
  margin:2rem;
 
}
.contact{
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
margin: 1rem;
  
  align-items:center;

}
.ContactFormInfo{
  display: flex;
  flex-direction: column;
  align-items:baseline;
 
  justify-content: space-between;
}
.ContactFormInfo a{
 text-align:center;
 margin-left: 0.5rem;
}

.contact img{
 
  height: 40px;
  flex:1;
  margin-top: 10px;
  border-radius: 50px;
 

}
.contact h2{
  margin-bottom: 1rem;
  flex:1;
}
.contact a{
  /* margin-bottom: 1rem; */
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
               flex:1;
}
.SocialMedia{
  display: flex;
  flex-direction: column;
}

.email{
  color: black;
  padding:0.5rem;
  flex:1;
}
.fb{
  display: flex;
  flex-direction: column;
  flex:1;
  object-fit: contain;
  align-items: center;
  margin: 1rem;
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
padding:1rem;
}
.fb img{
  border-radius: 5px;
  flex:1;
  max-height: 40px;
  height: 100%;
  width: 70%;
  margin: 0.5rem;
 
}
.fb a{
  display: inline-block;
  margin: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  
  padding: 0.1rem;
}

@media screen and (max-width: 1050px) {
  .containers3 {
      display: none;
  }
  .containers0{
      display: none;
  
  }

  
}
@media screen and (max-width: 850px) {
  .mt-5 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }
  .containers3 {
      display: none;
  }
  .containers0{
      display: none;
  
  }

  
}

@media screen and (max-width: 680px) {

  .containers{
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  .containers3 {
      display: flex;
  }
 
  .containers3:focus,
  .containers0{
  display:flex;
}

  .containers2{
      display: flex;
      flex-direction: column;
  }
  .SocialMedia{
    display: flex;
    flex-direction: row;
  }
  .fb{
    display: flex;
    flex-direction: column;
    flex:1;
    object-fit: contain;
    align-items: flex-start;
    margin: 1rem;
  
  }
  .send{
      flex: 1;
      display: flex;
     
      justify-content: center;
      align-items:flex-end;
      height:80px;
      width: 200px;
  }
  .name{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-family);

  }
  .name label{
    
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d9d9d9,
                 -5px -5px 10px #ffffff;
  }
  .containers1 input,
  .containers1 textarea{
    flex: 1;
    margin: 0.2rem;
    border-width: 0px;
    width:80%;
    border-radius: 50px;
    border-color: #ffffff;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #d9d9d9,
    inset -5px -5px 10px #ffffff;
    padding: 1rem;
  }
  .fb{
    max-width: 320px;
  }
  .fb h2{
    font-size: 15px;
  }
  .fb a{
    margin: 0.2rem;
  }
  .SocialMedia{
    max-width: 300px;
  }
  
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .containers{
      display: flex;
      flex-direction: column;
      
      align-items:center;
  }
  .containers3 {
      display: flex;
  }
 .containers2{
  display:none;
 }
 .send{
  flex: 1;
  display: flex;
 
  justify-content: center;
  align-items:flex-end;
  height:80px;
  width: 200px;
}
}
.login {
  height:0;
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  margin-top: 90px;

}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
  padding: 30px;
  margin-top: -100px;
}

.login__textBox {
  padding: 15px;
  font-size: 18px;
  border-width: 0px;
  margin-bottom: 10px;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.login a{
  color: #2e0b96;
  font-family: var(--font-family);
  font-weight: bold;
  height:50px;
  padding: 0%;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 0;
}
.toLink{
  padding:0%;
  height: 50px;

}
@media screen and (max-width: 700px) {
  .login__textBox {
    padding: 15px;
    font-size: 15px;
    border-width: 0px;
    margin-bottom: 10px;
    border-radius: 50px;
    border-color: #ffffff;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #d9d9d9,
    inset -5px -5px 10px #ffffff;
  }
}

.dashboard {
  height:0;
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: transparent ;
  padding: 30px;
  color: Black;
  font-family: var(--font-family);
  border-width: 0px;
  width: 100%;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.dashboard div {
  margin-top: 7px;
}
.idea p{
  color: black;
}
.idea input{
  height: 20%;
  padding:0.8rem;
  font-size: medium;

  border-width: 0px;
  margin-bottom: 10px;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.idea button{
  background-color: white;
  color: black;
 
}
.ideaBut button{

  border-radius: 20px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  font-family: var(--font-family);
}
.idea h3{
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  font-family: var(--font-family);
  font-weight:normal;
  text-align:center;
  font-size: 18px;
}
.profileLogin{
  display: flex;
  flex-direction: column;
}

.register {
  height:0;
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  font-family: var(--font-family);
  
 
  border-width: 0px;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
  
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}
.links{
  color: black;
}
.register a {
  color: #2e0b96;
  font-family: var(--font-family);
  font-weight: bold;
}
.reset {
  height:0;
  width: 100%;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  margin-top: -100px;
  margin-bottom: -100px;
}

.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 20px;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.reset a{
  color: #2e0b96;
  font-family: var(--font-family);
  font-weight: bold;
  height:50px;
  padding: 0%;
}
.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

/* .reset div {
  margin-top: 1px;
} */
.LoginPage {
  
  display: flex;
  flex-direction: column;

  



}
.page {
  margin-top:20%;
  margin-bottom: 0;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  color: black;
 
}
.Pagehead {
  /* margin-top: 50%; */
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  z-index: 1;
  position: absolute !important;
  /* position: absolute; */
  top: -380px;
  right: -18px;
}
.trials {
display: flex;
margin-top: 70%;
height: 100%;
margin-bottom: 20%;
width: 500px;
flex-direction: column;
align-items:center;
font-size: 20px;
border-radius: 100px;
font-family: var(--font-family);
justify-content:flex-start;
background-color: white;
}
.Pagehead h1{
 /* margin-top: 5rem; */
 text-align: center;
margin: 1rem;
position: absolute;
top: 30%;

border-radius: 20px;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
padding:0.8rem;
font-size: xx-large;
}
.Pagehead button{
  margin: 1rem;

}
.Member{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
 margin-bottom: 20%;
  align-items: center;
  margin-top: 100%;
  width: 100%;
  
  padding: 3rem;
  
}
.topbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  margin-bottom: 0%;
  width: 100%;
  margin-right: 0px;
}

.profilekeeper h1{
  color: black;
  font-size: medium;
  font-family: var(--font-family);
}

.homeLinks{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:1rem;
  margin-top:-10px;
}
.homeLinks p{
  color: black;
  margin: 0.8rem;
  border-width: 0px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  padding: 0.8rem;
}
.hometime{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  width: 100%;
}
.tryBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 width: 100%;
 height: 700px;
 padding: 2rem;
 
}
.trybarHead{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 10%;
  margin:0;
  padding: 0;
 
}
.profilestyle{
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  font-family: var(--font-family);
}
.displsection{
 background-color: #fff;
}
.ownContain div{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 10px;
 margin-top: 0;
 margin-bottom: 0;
 margin-left: -5px;
}
.Profileshow{
  color: #fff;
}
.contentB{
  background: white;
  display: flex;
  flex-direction: column;
  
}
.layoutS{
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color:#ffffff ;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
margin: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:400px;
font-family: var(--font-family);
  padding: 1rem;
}
.outputStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  /* border-width: 2px;
  border-radius: 20px;
  border-color:#ffffff ;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff; */
  margin: 1rem;
 

}
.blogs{
  display: flex;
  flex-direction: row;
  margin: 1rem;
  
}
.outputStyle img{
  width: 200px;
  height: 200px;
}
.cardBlog{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Information{

 display: flex;
 flex-direction: row;
}
.HeaderB{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  font-family: var(--font-family);
  
}
.backLink > ul{
  
list-style: none;
border-radius: 18px;
border-color:#ffffff ;
background: #c00404;
box-shadow:  5px 5px 10px #d9d9d9,
           -5px -5px 10px #ffffff;
           padding: 1rem;
           font-family: var(--font-family);
           font-weight: bold;
           color: #fff;

}
.backLink{
  margin: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
 padding: 0.5rem;
 
}
.HeadingP{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.HeadingP h1{
  border-width: 0px;
  border-radius: 20px;
 border-color:#ffffff ;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
            -5px -5px 10px #ffffff;
  padding: 1rem;
}
.HeaderB h1{
  text-align: center;
}

.HeaderB >ul{
  list-style: none;
}
.Information h2{
  /* border-style: solid;
  border-width: 1px; */
  padding: 0.54rem;
  /* border-radius: 20px;
  border-color:#ffffff ;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff; */
          
       font-size: medium;
 
}
.Information1 {
 
  font-size: 15px;
  font-weight: normal;
  
  /* position: absolute;
            left: 1%;
            right: 1%;
            top: 50%; */



}
.Information2{
 padding: 1rem;

 border-radius: 20px;
 border-color:#ffffff ;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
            -5px -5px 10px #ffffff;
display: block;
width: fit-content;
/* margin-left: -50px; */
}

.marquee {
  position: relative;
  height: 900px;
  width: 100%;
  overflow-x: hidden;

}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  width: 180%;
  display: flex;
  flex-direction: row;
}
.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from { transform: translateX(50%); }
  to { transform: translateX(-50%); }
}
@media screen and (max-width: 1050px) {
  .containers3 {
      display: none;
  }
  .containers0{
      display: none;
  
  }

  
}
@media screen and (max-width: 850px) {
  .mt-5 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }
  .containers3 {
      display: none;
  }
  .containers0{
      display: none;
  
  }

  
}

@media screen and (max-width: 680px) {
  .marquee {
    position: relative;
    height: 680px;
    width: 100%;
    overflow-x: hidden;
  
  }
  @keyframes marquee {
    from { transform: translateX(50%); }
    to { transform: translateX(-100%); }
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
    width: 180%;
    display: flex;
    flex-direction: row;
  }
  .backLink > ul{
  
    list-style: none;
    border-radius: 18px;
    border-color:#ffffff ;
    background: #c00404;
    box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
               padding: 1rem;
               font-family: var(--font-family);
               font-weight: bold;
               color: #fff;

    }
    .backLink{
      flex: 1;
      font-size: 10px;
      width: 95%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
     padding: 0.5rem;
     
    }
    .HeadingP{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
    }
    .HeadingP h1{
      border-width: 0px;
      border-radius: 20px;
     border-color:#ffffff ;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d9d9d9,
                -5px -5px 10px #ffffff;
      padding: 1rem;
      font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .containers{
      display: flex;
      flex-direction: column;
      
      align-items:center;
  }
  .containers3 {
      display: flex;
  }
 .containers2{
  display:none;
 }
 .send{
  flex: 1;
  display: flex;
 
  justify-content: center;
  align-items:flex-end;
  height:80px;
  width: 200px;
}
}
.products-container{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
  gap: 15px;
  
  width: 100%;

  padding:1rem;
}
.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
  color: #324d67;
 width: 400px;
 height:600px;
 border-width: 0px;
      border-radius: 20px;
     border-color:#ffffff ;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d9d9d9,
                -5px -5px 10px #ffffff;
      padding: 1rem;
      font-size: 20px;
      margin:1rem;
 }
 .product-card:hover{
   transform: scale(1.1,1.1)
 }
 .product-image{
   border-radius: 15px;
  background-color: #ebebeb;
   transform: scale(1, 1);
   transition: transform 0.5s ease;
   height:200px;
   width:200px;
 }
 
 .product-name{
   font-weight: 500;

 }
 .productNamefit {
  word-break: break-all;
  hyphens: auto;
  max-width: 400px;
 
 }
 .product-price{
   font-weight: 800;
   margin-top: 6px;
   color: black;
 }
 .price{
  font-weight: bold;
  font-size:xx-large;
 }
 .product-detail-container{
  display: flex;
 gap: 40px;
 margin: 40px;
 margin-top: 60px;
 color: #324d67;

}

.product-detail-image{
  border-radius: 15px;
   background-color: #ebebeb;
 
  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.product-detail-image:hover{
  background-color: #f02d34;

}
.product-detail-contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #324d67;
  
 
  
}
.ShopHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product-detail-contact a{
  background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
           -5px -5px 10px #ffffff;
           padding: 1rem;
           font-family: var(--font-family);
           font-weight: bold;
           border-radius: 20px;
           border-width: 0;
}
.logoS button{
  border-radius: 20px;
 border-width: 0;
background: #c00404;
box-shadow:  5px 5px 10px #d9d9d9,
           -5px -5px 10px #ffffff;
           padding: 1rem;
           font-family: var(--font-family);
           font-weight: bold;
           color: #fff;
}
.navbar-container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 
  padding:1rem;
  position: relative;
  background-color: white;
}
.LogoSLink{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar-container p{
background: #c00404;
box-shadow:  5px 5px 10px #d9d9d9,
           -5px -5px 10px #ffffff;
           padding: 1rem;
           font-family: var(--font-family);
           font-weight: bold;
           color: #fff;
           border-radius: 20px;
           border-width: 0;
  
}
.ShopFooter{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

 
  
 
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
             border-radius: 20px;
}
.ShopFooter a{
  background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
           -5px -5px 10px #ffffff;
           padding: 1rem;
           font-family: var(--font-family);
           font-weight: bold;
           border-radius: 20px;
           border-width: 0;
}
.layout{
  background: white;
}
.cart-icon{
  font-size: 30px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
}
.cart-icon:hover{
  transform: scale(1.1,1.1);
}
.cart-item-qty{
  position: absolute;
  right: -8px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}
.product-detail-desc .buttons{
  display: flex;
  gap: 30px;
}
.buttons .add-to-cart{
  padding: 10px 20px;
  border: 1px solid #f02d34 ;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .add-to-cart:hover{
  transform:scale(1.1,1.1)
}
.buttons .buy-now{
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
   transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.buttons .buy-now:hover{
  transform:scale(1.1,1.1)
}
.quantity-desc{
  border: 1px solid gray;
padding: 6px;
width:27%;
display: flex;
flex-direction: row;
justify-content: center;
width:10%;
height: 30px;

}
.quantity-desc span{


  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
  
}
.quantity-desc .minus{
  border-right: 1px solid gray;
  color: #f02d34;
  
}
.quantity-desc .num{
  border-right: 1px solid gray;
  font-size: 16px;
}
.quantity-desc .plus{
  color: rgb(49, 168, 49);
  

}
.cart-wrapper{
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}
.cart-container{
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 40px 10px;
  position: relative;
  
}
.cart-heading{
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading{
  margin-left: 10px;
}
.cart-num-items{
  margin-left: 10px;
  color: #f02d34;
}
.empty-cart{
  margin:40px;
  text-align:center;
}
.empty-cart h3{
  font-weight: 600;
  font-size: 20px;
}
.cancel{
  cursor: pointer;
}
.product-container{
  margin-top: 15px;
  overflow: auto;
max-height: 70vh;
padding: 20px 10px;
}
.product{
  display: flex;
 gap: 30px;
  padding: 20px;
}
.product .cart-product-image{
  width:180px ;
  height: 150px;
    border-radius: 15px;
 background-color: #ebebeb;
}
.item-desc .flex{
  display: flex;
  justify-content: space-between;
  width: 350px;
   color: #324d67;

}
.item-desc .bottom{
  margin-top: 60px;
}
.flex h5{
  font-size: 24px;
}
.flex h4{
  font-size: 20px;
}
.total{
  display: flex;
  justify-content: space-between;
}
.total h3{
  font-size: 22px;

}
.remove-item{
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}
.cart-bottom{
  position: absolute;
  bottom: 30px;
  right: -30px;
width: 80%;
padding: 30px 65px;

}

.btn-container{
  width: 400px;
  margin: auto;
}
.btn{
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
    transform: scale(1, 1);
  transition: transform 0.5s ease;
}
.btn:hover{
  transform: scale(1.1,1.1);
}
.product-detail-container{
  display: flex;
 gap: 40px;
 margin: 40px;
 margin-top: 60px;
 color: #324d67;

}

.product-detail-image{
  border-radius: 15px;
   background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}
@media screen and (max-width:900px) {
  .navbar-container{
    max-width:96.1%;
  }
  .buttons{
    margin-left: -100px;
  }
  .products-container{
    max-width:96.1% ;
  }
}
@media screen and (max-width:800px) {
 
  .desc{
   bottom: 60px;
  }
  .product-detail-container{
    flex-wrap: wrap;
    }
  .product-detail-container .product-detail-image{
    width: 350px;
    height: 350px;
  }
  .cart-container{
    width: 415px;
  padding: 4px;
  }
  .cart-heading{
    margin-top: 35px;
  }
  .product-container{
    margin-top: 10px;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 25%;
    height: 25%;
  }
  .buttons .add-to-cart{
    width: 150px;
  }
  .buttons .buy-now{
    width: 150px;
  }
  .product-detail-container{
    margin: 20px;
  }

.item-desc .flex{
  width: 200px;
}
.top{
  flex-wrap: wrap;
  gap: 10px;


}
.item-desc .bottom{
  margin-top: 30px;
}
.flex h5{
  font-size: 16px;
   color: #324d67;
}
.flex h4{
  font-size: 16px;
   color: black;
}
.cart-bottom{
  padding: 30px;
}

.total h3{
  font-size: 20px;
}
.track {
  animation: marquee 10s linear infinite;
  width: 550%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 370px;
  margin-top: 100px;
  padding: 20px;
}
.success{
  height: 350px;
}
.success h2{
  font-size: 17px;
}
.btn-container{
  width: 300px;
  margin: auto;
}
}
@media screen and (max-width:500px) {

  .Pagehead button{
    margin: 0;
    font-size: 13px;
    padding: 0.5rem;
  }
  .Member{
    max-width: 50px;
  }
  .register__container{
    max-width: 200px;
    font-size: medium;
    position: relative;
   top:290px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .hometime{
    display: flex;
    position: relative;
    flex-direction: column;
   align-items: center;
   top:70px;
  }
  .dashboard__container{
    max-width: 200px;
    font-size: medium;
    position: relative;
   top:290px;
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .profileLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .idea button{
    font-size: 12px;
    max-width: 200px;
  }
  .login__container{
   position: relative;
   top:250px;
    max-width: 200px ;
  }
  .Pagehead{

    position: absolute !important;
    right: -200px !important;
  }
  .trials{
    
    max-width:91.7% ;
    height:730px;
  }
  .trials h1{
    margin-top:-50px;
    font-size: 15px;
  }
 .navbar-container{
   max-width:91.7%;
 }
 .products-container{
  max-width: 91.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
  .product-detail-desc{
    margin-top: -40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
  }
  .contentB{
    display: flex;
    flex-direction: column;
    width:100%;
    background: white;
  align-items: center;
  }
  .product-card{
    
   width: 200px;
   height:300px;
  
        
        font-size: 12px;
        
   }
  .desc{
   bottom: 80px;
  }
  .product-detail-container{
    display: flex;
    flex-direction: row;
  
    width: 91.7%;
  
    }
  .product-detail-container .product-detail-image{
    width: 150px;
    height: 150px;
  }
  .cart-container{
    width: 315px;
  padding: 2px;
  }
  .cart-heading{
    margin-top: 32px;
  }
  .product-container{
    margin-top: 7px;
  }
  .product{
    padding: 20px 5px;

  }
  .product .cart-product-image{
    width: 15%;
    height: 15%;
  }
  .buttons .add-to-cart{
    width: 100px;
  }
  .buttons .buy-now{
    width: 100px;
  }
  .product-detail-container{
    margin: 10px;
  }

.item-desc .flex{
  width: 100px;
}

.item-desc .bottom{
  margin-top: 20px;
}
.flex h5{
  font-size: 12px;
   color: #324d67;
}
.flex h4{
  font-size: 12px;
   color: black;
}
.cart-bottom{
  padding: 20px;
}

.total h3{
  font-size: 18px;
}
.track {
  animation: marquee 20s linear infinite;
  width: 350%;
}
.success-wrapper, .cancel-wrapper{
 
  min-height: 69vh;
}
.success, .cancel {
   width: 320px;
  margin-top: 80px;
  padding: 10px;
}
.success{
  height: 250px;
}
.success h2{
  font-size: 12px;
}
.btn-container{
  width: 200px;
  margin: auto;
}
.maylike-products-wrapper{
  background-color: white;

}
.marquee{
  
  padding-top: 1rem;
  padding-bottom: 0;
  width: 380px;
  overflow-x: hidden;
  height: 320px;
}
.backLink{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  max-height: 50px;
}
.quantity-desc{
  margin: 1rem;
 border: none;
}
.quantity-desc span{

 
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
  
}
.quantity-desc .minus{

  border-right: 1px solid gray;
  color: #f02d34;
  
}
.quantity-desc .num{
 
  border-right: 1px solid gray;
  font-size: 16px;
}
.quantity-desc .plus{
  color: rgb(49, 168, 49);
  

}
.navbar-container p{
font-size: 15px;
}
}