@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
    background: #100f0f;
}

a {
  color: unset;
  text-decoration: none;
}
.brand h1{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand h2{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.brand1{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.brand2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand h1{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand h2{
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
.brand{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
.brand1{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.brand2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gpt3__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  margin: 1rem;
}

.gpt3__features-container__feature-title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.gpt3__features-container__feature-title h1 {
  font-family:'Manrope', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
}

.gpt3__features-container__feature-title div {
  width: 38px;
  height: 3px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}

.gpt3__features-container_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}


.gpt3__features-container_feature-text p {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature-title h1 {
      font-size: 14px;
      line-height: 22px;
  }

  .gpt3__features-container_feature-text p {
      font-size: 12px;
      line-height: 20px;
  }

  .gpt3__features-container__feature {
      margin: 1rem 0;
  }
  
}
.gpt3__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #100f0f;
 
  
  /* padding: 2rem 6rem; */

}
.gpt3__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  object-fit: cover;
}


.gpt3__navbar-links_logo  {
  position: fixed;
  
  top: 2;
  

}

.gpt3__navbar-links_logo a {
  width: 50px;
  height: 50px;
  border-radius: 25px !important;
  margin: 1rem;
}

.gpt3__navbar-links_container {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}

.gpt3__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  /* display: inline-block; */
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
}
a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #c00404;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.15s;
  position: relative;
  margin-left: 0.5rem;
}
button:hover{
  opacity: 0.8;

}
.LoginPage{
  position: absolute;
  top: 10;
  margin: 1rem;
  height: fit-content;
   margin-top: 1rem ;

}
.Member{
  display: block;
  margin-top: 50rem;
  
}
.gpt3__navbar-menu {
  margin-left: 0.5rem;

  display: none;
  position: relative;
}

.gpt3__navbar-menu svg {
  cursor: pointer;
}

.gpt3__navbar-menu_container {
  display: flex;
  
  align-items: flex-start;
  flex-direction: column;
  
  text-align:start;
  background: var(--color-footer);
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.gpt3__navbar-menu_container p {
  margin: 1rem 0;
}


.gpt3__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .gpt3__navbar-links_container {
      display: none;
  }

  .gpt3__navbar-menu {
      display: flex;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__navbar {
      padding: 1rem 2rem;
      height: 50px;
  }
  .gpt3__navbar-links_logo img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
   }
}

@media screen and (max-width: 550px) {
  .gpt3__navbar {
      padding: 1rem;
      height: 50px;
  }

  .gpt3__navbar-sign {
      display: none;
  }

  .gpt3__navbar-menu_container {
      top: 20px;
  }

  .gpt3__navbar-menu_container-links-sign {
      display: block;
  }
  .gpt3__navbar-links_logo img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
   }
}
.slider {
  position: relative;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:1.5rem;
  
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 1rem;
}
.card{
  height: 350px;
  width: 300px;
  border-radius: 50px;
  
  background: #100f0f;
  box-shadow: inset 5px -5px 10px #070707,
              inset -5px 5px 10px #191717;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
.title{
  margin: 1rem;
  color: white;
  font-family: var(--font-family);
}
.cardContent{
  color: white;
  font-family: var(--font-family);
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color:white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 990px) {
  .gpt3__blog-container {
      flex-direction: column-reverse;
  }


  .gpt3__blog-container_groupA {
      margin: 2rem 0;
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article  {
     width: 48%;
  }

  .gpt3__blog-container_groupA .gpt3__blog-container_article-image {
      height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .card{
      height: 250px;
      width: 200px;
      border-radius: 20px;
      
      background: #100f0f;
      box-shadow: inset 5px -5px 10px #070707,
                  inset -5px 5px 10px #191717;
      display: flex;
      flex-direction: column;
      
      align-items: center;
    }
    .image {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: 1rem;
    }
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      font-size: 2rem;
      color:white;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    
    .left-arrow {
      position: absolute;
      top: 50%;
      left: 32px;
      font-size: 2rem;
      color: white;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }

}
.gpt3__features {
  
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}
.containsAll{
  border-radius: 35px;
background: #100f0f;
box-shadow: inset 5px -5px 10px #070707,
          inset -5px 5px 10px #191717;
          display: flex;
          flex-direction: column;
          flex:1;
          padding:0.5rem;
          
}

.heading1{
 
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
  line-height: 45px;
  font-weight: 800;
  align-items: center;
  font-family: var(--font-family);
  border-radius: 35px;
  background: #100f0f;
  box-shadow:  5px -5px 10px #070707,
               -5px 5px 10px #191717;
}
.heading2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
.drop{
  /* margin-bottom: 1vw; */

 
 
  padding: 1rem;
 
}

.gpt3__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin: 2rem;
  padding: 0.5rem;
  text-align: left;
  margin-right: 5rem;
  border-radius: 35px;
  background: #100f0f;
  box-shadow:  5px -5px 10px #070707,
               -5px 5px 10px #191717;
               
}


.gpt3__features-heading h1 {
  font-size: 20px;
  line-height: 45px;
  font-weight: 800;
  
  font-family: var(--font-family);
}


.gpt3__features-heading p {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  font-family: var(--font-family);

  text-align:justify;
  padding: 0.2rem;

 
}


.gpt3__features-container {
  flex: 1.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


@media screen and (max-width: 990px) {
  .gpt3__features {
      flex-direction: column;
  }

  .gpt3__features-heading {
      margin: 0 0 0.5rem 0;
  }
  .heading1{
      font-size: 8px;
  }
}


@media screen and (max-width: 550px) {
  .gpt3__features-heading h1 {
      font-size: 12px;
      line-height: 38px;
  }
  .drop p{
      font-size: 12px;
  }
 
 
}
.containerss img{
  width:499px ;
}
.containerss{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info{
  display: flex;
  flex-direction: column;
  
}
.info p{
  color: white;
  font-family: var(--font-family);
}
@media screen and (max-width: 650px) {
  .containerss img{
      width:200px ;
  }
  
}
.gpt3__header {
  display: flex;
  flex-direction: row;
}

.gpt3__header-content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  object-fit: cover;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}


.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
 
  
}
p{
  word-spacing: 5px;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}


/* .gpt3__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-top: 2rem;
}

.gpt3__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.gpt3__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #fff;
  text-align: center;
} */

.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
      flex-direction: column;
  }

  .gpt3__header-content {
      margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header-content h1 {
      font-size: 48px;
      line-height: 60px;
  }

  .gpt3__header-content p {
      font-size: 16px;
      line-height: 24px;
  }
  
  .gpt3__header-content__people {
      flex-direction: column;
  }

  .gpt3__header-content__people p {
      margin: 0;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
      font-size: 16px;
      line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .gpt3__header-content h1 {
      font-size: 36px;
      line-height: 48px;
  }

  .gpt3__header-content p {
      font-size: 14px;
      line-height: 24px;
  }

  .gpt3__header-content__input input,
  .gpt3__header-content__input button {
      font-size: 12px;
      line-height: 16px;
  }
}
.shop{
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.Containers1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  
}
.Containers1 p{
  margin-top:20px;
  padding: 0.2rem;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 45px;
  font-weight: 800;
  align-items: center;
  
}

.Scontainer img{
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.option{
  
  display: flex;
  flex-direction: column;
 
 justify-content: space-between;
  align-items:center;
  margin: 20px;
}

.Scontainer {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  padding: 0.5rem;
  
  align-items:center;
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.Scontainer h2{
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 45px;
  font-weight: 800;
}
.heading{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  
  
}
.heading h1{
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}
@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .Scontainer h2{
      font-family: var(--font-family);
      font-size: 15px;
      line-height: 30px;
      font-weight: 800;
  }
  .Containers1 p{
      margin-top: 0.5rem;
      padding: 0.2rem;
      border-radius: 50px;
      background: #ffffff;
      box-shadow:  5px 5px 10px #d9d9d9,
                   -5px -5px 10px #ffffff;
      font-family: var(--font-family);
      font-size: 15px;
      line-height: 30px;
      font-weight: 800;
      text-align:center ;
      
  }
  .Containers1 a{
          padding: 1rem;
          
  }
  .Containers1{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      background-color: white;
      border-radius: 10px;
      padding: 1rem;
      
  }
  .heading{
      display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  }
  
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  
}
.gpt3__whatgpt3 {
  display: flex;
  flex-direction: column;

  padding: 0.5rem;
  background: #100f0f;

  
}
.styling{
  padding:1rem;
  border-radius: 35px;
  background: #100f0f;
  box-shadow: inset 5px -5px 10px #070707,
              inset -5px 5px 10px #191717;
              color: #fff;
}

.gpt3__whatgpt3-feature {
  display: flex;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container__feature {
  margin: 0;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
  max-width: 700px;
}

.gpt3__whatgpt3-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin: 4rem 0 2rem;
}

.gpt3__whatgpt3-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;
}

.gpt3__whatgpt3-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.container1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  
}
.container1 h1{
  font-family: var(--font-family);
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  color: black;
  cursor: pointer;
}
.owner{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  
  
}
.gpt3__whatgpt3-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}
.container{
  flex-direction: column;
}
.waves{
  display: flex;
  flex:1;
  width: 100%;
  position: unset;
  
  
}
.pic{
  object-fit: contain;
  width: 100% ;
  position: relative;
  height: unset;
}
.CCTV{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  margin: 1rem;
  border-radius: 10px;
  padding: 1rem;
  font-family: var(--font-family);
transition: 0.5s;
border-color: #ffffff;
border-radius: 50px;
background: #ffffff;
box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
             color: black;
    width: 236.71px;
}
.CCTV:hover,
.CCTV:Focus {
  animation: CCTV 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes CCTV {
    0% { box-shadow: 0 0 0 0 black; }
  }


.CCTV img{
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.gpt3__whatgpt3-container .gpt3__features-container_feature-text {
  margin-top: 0.5rem;
}


@media screen and (max-width: 850px) {
  .gpt3__whatgpt3-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }

  .gpt3__whatgpt3-heading p {
      margin-top: 1rem;
  }
  .owner{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      background-color: white;
      border-radius: 10px;
      
      
  }
  .CCTV p{
    font-size: 0.8rem;
  }
  .CCTV{
    width: 202.78px;
  }
}

@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container__feature {
      flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-feature .gpt3__features-container_feature-text {
      margin-top: 0.5rem;
  }

  .gpt3__whatgpt3-heading h1 {
      font-size: 28px;
      line-height: 40px;
  }
  .owner{
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      background-color: white;
      border-radius: 10px;
      
      
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gpt3__whatgpt3-container .gpt3__features-container__feature {
      margin: 1rem 0;
      min-width: 100%;
  }
}
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}

@keyframes scale-up-center {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
}
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #100f0f;
  }
}

h2{
  font-family: var(--font-family);
  
}
.mt-5{
  background-color: white;
}
.mb-3{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.containers{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.containers1{
  flex:1;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  align-items:flex-start;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
  margin: 25px;
  
}
.containers2{
  flex: 1;
  display: flex;
  flex-direction: column;
 
 justify-content: space-between;
  align-items:center;
  margin: 20px;
  
  
}
.containers3{
  display: none;
  flex-direction: column;
 padding:1rem;
 justify-content: space-between;
  align-items:center;
  
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
  margin: 25px;
}
.containers3 a
{
  margin-top:20px;
  padding: 0.2rem;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  font-family: var(--font-family);
 
}
.containers3 h2{
  margin-bottom: 1rem;
}

.containers0{
  display: none;
  flex-direction: column;
 padding:1rem;
 justify-content: space-around;
  align-items:flex-start;
  margin: 10px;
}


.contact{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  padding: 1rem;
  
  align-items:flex-start;
  border-radius: 40px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.name{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-family);
 padding:1rem;
 margin:1rem;
 

}


.containers1 input,
.containers1 textarea{
  flex: 1;
  margin: 0.8rem;
  border-width: 0px;
  width:90%;
  border-radius: 50px;
  border-color: #ffffff;
  background: #ffffff;
  box-shadow: inset 5px 5px 10px #d9d9d9,
  inset -5px -5px 10px #ffffff;
}
.containers1 input{
  height: 27px;
  padding: 0.5rem;
}
.containers1 textarea{
  height: 35px;
  padding: 0.5rem;
  
}
.name label{
  margin-right: 5px;
  margin: 1rem;
  padding: 0.2rem;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
}
.send{
  flex: 1;
  display: flex;
 
  justify-content: center;
  align-items:flex-end;
  height:100px;
  width: 800px;
}
.send button{
  margin: 1rem;
 height:50px;
 width: 100px;
  margin-left: 15px;
  border-width: 0px;
  padding: 0.1rem;
  padding-right: 0.1rem;
  
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
  font-family: var(--font-family);
  font-size: 16px ;
}

form{
  background-color: white;
  
}
.contact img{
 
  height: 40px;
  flex:1;
  margin-top: 10px;
  border-radius: 50px;
 

}
.contact h2{
  margin-bottom: 1rem;
  flex:1;
}
.contact a{
  margin-bottom: 1rem;
  border-radius: 50px;
  background: #ffffff;
  box-shadow:  5px 5px 10px #d9d9d9,
               -5px -5px 10px #ffffff;
               flex:1;
}
.email{
  
  padding:0.5rem;
  flex:1;
}
.fb{
  flex-direction: column;
  flex:1;
  object-fit: contain;
  
}
.fb img{
  border-radius: 5px;
  flex:1;
  max-height: 40px;
  height: 100%;
  width: 70%;
  margin: 0.5rem;
 
}
.fb a{
  display: inline-block;
  margin: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  
  padding: 0.1rem;
}

@media screen and (max-width: 1050px) {
  .containers3 {
      display: none;
  }
  .containers0{
      display: none;
  
  }

  
}
@media screen and (max-width: 850px) {
  .mt-5 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }
  .containers3 {
      display: none;
  }
  .containers0{
      display: none;
  
  }

  
}

@media screen and (max-width: 680px) {
  /* Customizing feature component as per needs */
  .containers{
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }
  .containers3 {
      display: flex;
  }
 
  .containers3:focus,
  .containers0{
  display:flex;
}
/* .containers3:focus,
.containers0
{
  display:none;
} */
  .containers2{
      display: none;
  }
  .send{
      flex: 1;
      display: flex;
     
      justify-content: center;
      align-items:flex-end;
      height:80px;
      width: 200px;
  }
  .name{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: var(--font-family);

  }
  .name label{
    
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #d9d9d9,
                 -5px -5px 10px #ffffff;
  }
  .containers1 input,
  .containers1 textarea{
    flex: 1;
    margin: 0.2rem;
    border-width: 0px;
    width:80%;
    border-radius: 50px;
    border-color: #ffffff;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #d9d9d9,
    inset -5px -5px 10px #ffffff;
    padding: 1rem;
  }
  
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .containers{
      display: flex;
      flex-direction: column;
      
      align-items:center;
  }
  .containers3 {
      display: flex;
  }
 .containers2{
  display:none;
 }
 .send{
  flex: 1;
  display: flex;
 
  justify-content: center;
  align-items:flex-end;
  height:80px;
  width: 200px;
}
}
.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  margin-top: 10rem;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
}

.dashboard div {
  margin-top: 5rem;
}
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}
.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}
.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.reset div {
  margin-top: 7px;
}